{% extends 'base/base.html' %}


{% block title %}
My Custom Page Title
{% endblock %}
{% block content %}
<header class="section-header">
    <div class="padding-global">
        <div class="container-small">
            <div class="padding-section-large">
                <div class="text-align-center">
                    <div class="margin-bottom margin-small">
                        <h1>Simplicity is the ultimate sophistication</h1>
                    </div>
                    <p class="text-size-medium">- Leonardo da vinci</p>
                </div>
            </div>
        </div>
        <div class="line-divider"></div>
    </div>
</header>
<header class="section-blog-content">
    <div class="padding-global">
        <div class="container-small">
            <div class="padding-section-large">
                <div class="w-dyn-list">
                    <div role="list" class="w-dyn-items">

                        {%for post in queryset %}
                        <div role="listitem" class="collection-item w-dyn-item">
                            <div class="margin-bottom margin-small">
                                <a data-w-id="0b43dc71-aba1-2227-f28d-8764a4b6b4d9"
                                    href="{{post.slug}}"
                                    class="blog-link w-inline-block">
                                    <div class="margin-bottom margin-small">
                                        <div class="max-width-large">
                                            <div class="blog-content-wrapper">
                                                <div class="margin-bottom margin-xsmall">
                                                    <div class="text-block">{{post.pub_date| date:"Y-M-D" }} </div>
                                                </div>
                                                <div class="margin-bottom margin-xsmall">
                                                    <h2 style="color: rgb(52, 64, 84)" class="heading-style-h6">
                                                      {{post.title}}
                                                    </h2>
                                                </div>
                                            </div>
                                            <div class="line-divider"></div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>

                        {% endfor %}

                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

</div>
{% endblock %}